:root {
  --accent-color: #ececec;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --thirdly-text-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto";
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: var(--accent-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  line-height: 1.19;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
}

.accent {
  color: var(--thirdly-text-color);
}

.studio {
  color: var(--accent-color);
}

.studio-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.studio-link:hover,
.studio-link:focus,
.current {
  color: var(--thirdly-text-color);
}

.current {
  color: var(--thirdly-text-color);
}

.nav-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav-link:hover {
  color: var(--thirdly-text-color);
}

.nav-link:focus {
  color: var(--thirdly-text-color);
}

.contacts-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts-link:hover {
  color: var(--thirdly-text-color);
}

.contacts-link:focus {
  color: var(--thirdly-text-color);
}

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-link:hover {
  color: var(--thirdly-text-color);
}
.contact-link:focus {
  color: var(--thirdly-text-color);
}

.phone-link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.phone-link:hover {
  color: var(--thirdly-text-color);
}

.phone-link:focus {
  color: var(--thirdly-text-color);
}

.main-section {
  background-color: var(--primary-text-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.button {
  font-weight: 700;
  line-height: 1.8;
  color: var(--accent-color);
  background: var(--thirdly-text-color);
}

.button-portfolios:focus,
.button-portfolios:hover {
  color: #ffffff;
  background-color: var(--thirdly-text-color)
}

.container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-title {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;

}

.benefits-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team-name {
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.footer {
  background-color: #2f303a;
}

.footer-title-link {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-addres:focus{
  color: var(--thirdly-text-color);
}

.footer-link,
.footer-email {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.logo-footer {
  color: var(--thirdly-text-color);
}

.button-portfolios:hover {
  color: var(--thirdly-text-color);
}

.title-benefits {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.benefits-text {
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}